@model Inventory.Models.Stock
@{
     ViewBag.Title = "PasswordAdd";
    
}
<script type="text/javascript">
    
</script>
<h2>PasswordAdd</h2>
<form method="post" action="/Home/AddDone">
    <input type="text" id="Password" name="Pass" placeholder="Enter Password to Go to Add Property" required>
    <input type="submit" id="Go" value="GO" >
</form>