@model Inventory.Models.Stock
@{
    ViewBag.Title = "PasswordEdit";
}

<h2>PasswordEdit</h2>

<link rel="shortcut icon" href="Inventory.png">
<script type="text/javascript">
    
</script>

<form method="post">
    <input type="text" id="Password" name="Pass" placeholder="Enter Password to Go to Edit Property" required>
    <input type="submit" id="Go" value="GO" formaction="/Home/EditDone/@Model.Id">
</form>